<include file="Public/head"/>
    <!--icheck-->
    <link href="__PUBLIC__/Admin/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="__PUBLIC__/Admin/css/clndr.css" rel="stylesheet">

</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Public/nav"/>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <pre>
                     ---------------------
                     --
                     -- 智能家教后太管理系统
                     -- @date 2015-06-07
                     -- 
                     ---------------------
                    </pre>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <include file="Public/foot"/>
        <!--footer section end-->

    </div>
    <!-- main content end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<include file="Public/common_js"/>
</body>
</html>
