<script src="__PUBLIC__/Admin/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/modernizr.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="__PUBLIC__/Admin/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/Admin/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="__PUBLIC__/Admin/js/sparkline/jquery.sparkline.js"></script>
<script src="__PUBLIC__/Admin/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="__PUBLIC__/Admin/js/iCheck/jquery.icheck.js"></script>
<script src="__PUBLIC__/Admin/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="__PUBLIC__/Admin/js/flot-chart/jquery.flot.js"></script>
<script src="__PUBLIC__/Admin/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/Admin/js/flot-chart/jquery.flot.resize.js"></script>
<script src="__PUBLIC__/Admin/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="__PUBLIC__/Admin/js/flot-chart/jquery.flot.selection.js"></script>
<script src="__PUBLIC__/Admin/js/flot-chart/jquery.flot.stack.js"></script>
<script src="__PUBLIC__/Admin/js/flot-chart/jquery.flot.time.js"></script>
<script src="__PUBLIC__/Admin/js/main-chart.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/Admin/js/scripts.js"></script>