<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>

  	<if condition="$titleL2">{$titleL2}-</if>
  	<if condition="$titleL1">{$titleL1}-</if>
  	{:C('SITE_BACKEND_NAME')}

  </title>
  <!--common-->
  <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/Admin/js/html5shiv.js"></script>
  <script src="__PUBLIC__/Admin/js/respond.min.js"></script>
  <![endif]-->